@charset "utf-8";


/* =Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* -------------------------------------------------------------- */


/* 基本レイアウト */
body {
	margin: 20px 10px;
	font: 12px "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}
#wrapper {
	width: 960px;
	margin: auto;
}
header {
	margin-bottom: 10px;
	overflow: hidden;
}
#main_image {
	margin-bottom: 30px;
}
a{
	color: #86b12e;
}
a:hover{
	color: #4f4f4f;
}
a:hover img {
	opacity:0.8;
}

/* ナビゲーションメニュー */
nav {
	float: right;
	font-size: 22px;
	padding-top: 0px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	list-style-type: none;
	float: left;
}
nav li a {
	display: block;
	float: left;
	margin-left: 20px;
	text-decoration: none;
	color: #86b12e;
}
nav li a:hover {
	color: #4f4f4f;
}

/* スライド */
#slideshow {
	position: relative;
	height: 350px;
}
#slideshow IMG {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	opacity: 0.0;
}
#slideshow IMG.active {
	z-index: 10;
	opacity: 1.0;
}
#slideshow IMG.last-active {
	z-index: 9;
}

/* コンテンツ */
article {
	overflow: hidden;
}
section {
	float: left;
	width: 216px;
	margin-right: 32px;
	margin-bottom: 25px;
}
section:nth-child(4n) {
	margin-right: 0;
}
section img {
	width: 216px;
	height: auto;
	vertical-align: bottom;
	border: none;
}
section h2 {
	font-size: 16px;
	margin: 5px 0 0;
}
section p {
	font-size: 12px;
	margin: 10px 0;
}
section a {
	color: #86b12e;
	text-decoration: none;
	display: block;
	overflow: hidden;
}
section a:hover {
	color: #4f4f4f;
}

/* サイト名 */
#title {
	float: left;
}
#title h1 {
	margin: 0;
}

/* メインイメージ */
#main_image img {
	float: left;
	vertical-align: bottom;
}
#main_image {
	overflow: hidden;
}

/* フッター */
footer {
	color: #4f4f4f;
	padding: 10px Opx 20px;
	border-top:dashed 1px;
}
footer p {
	float: left;
	margin: 0;
}
#submenu {
	clear: both;
}
#submenu ul {
	margin: 10px 0;
	padding: 2px 0 0;
	font-size: 14px;
}
#submenu li {
	display: inline;
	list-style-type: none;
}
#submenu a {
	color: #86b12e;
	padding-right: 6px;
	margin-right: 3px;
	text-decoration: none;
}
#submenu a:hover {
	color:#4f4f4f;
}

/* コピーライト */
small {
	font-size: 12px;
}

/* サブページ用 */
#content{
	width: 960px;
	margin-bottom:25px;
}
#content p{
	font-size:14px;
	line-height:1.6em;
	margin-right:430px;
	text-align: justify;
}
#content h2{
	font-size:20px;
	color: #86b12e;
}
#content h3{
	font-size:16px;
	color: #86b12e;
}
#content h3 img{
	height:20px;
	width:20px;
	margin:0 0 -3px 0;
}
#content td{
	font-size:14px;
	line-height:1.6em;
	text-align: justify;
}
.alignleft{
float:left;
clear:left;
margin:3px 20px 10px 0;
}
.alignright{
float:right;
clear:right;
margin:3px 0 10px 20px;
}

